section {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 2rem;
}

.section-title {
  font-size: var(--big-font-size);
  color: var(--title-color);
}

.section-subtitle {
  margin-bottom: 2rem;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.services-content {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  padding: 2.5rem 1.5rem;
}

.services-content:hover {
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.3);
}

.services-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  color: var(--first-color);
}

.services-title {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: 1rem;
}

.services-button {
  color: var(--first-color);
  cursor: pointer;
  display: inline-flex;
}

.services-button-icon {
  transition: 0.3s;
}

.services-button:hover .services-button-icon {
  transform: translateX(0.25rem);
}

.services-modal.active {
  visibility: visible;
  opacity: 1;
  top: 0;
}

.services-modal {
  position: fixed;
  top: -100%;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.services-modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
}

.services-modal-title {
  color: var(--title-color);
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.services-modal-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.4rem;
  color: var(--first-color);
  cursor: pointer;
}

.services-modal-item {
  display: flex;
  column-gap: 0.4rem;
  margin-bottom: 0.4rem;
}

@media screen and (max-width: 380px) {
  .services-container {
    grid-template-columns: max-content;
  }

  .services-content {
    padding-right: 3.5rem;
  }
}

@media screen and (min-width: 768px) {
  .services-container {
    grid-template-columns: repeat(3, 218px);
  }

  .services-content {
    padding: 4rem 1.5rem;
  }

  .services-modal-content {
    width: 420px;
  }
}
