@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --hue-color: 205;

  --first-color: hsl(var(--hue-color), 69%, 61%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);

  --big-font-size: 2rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
}

@media screen and (max-width: 768px) {
  :root {
    --big-font-size: 3rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--normal-font-size);
  color: var(--text-color);
  background-color: #fff;
}

ul {
  list-style: none;
}
